<div class="banner">
    <div class="container">
        <h1>This is agent dashboard</h1>
        
        <div class="card">
            <h5 class="card-header">Profile Details</h5>
            <div class="card-body">
                  <h5 class="card-title">Name:  {{profile_data['name']}}</h5>
                  <p class="card-text">mobile Number: {{profile_data['mobile_no']}}</p>
                  <p class="card-text"> Email: {{profile_data['email']}}</p>
                  <p class="card-text"> Address: {{profile_data['address']}}</p>
                  <p class="card-text"> city: {{profile_data['city']}}</p>
                  <p class="card-text"> Pincode: {{profile_data['pin_code']}}</p>
                  <p class="card-text"> state: {{profile_data['state']}}</p>
                  <p class="card-text"> country: {{profile_data['country']}}</p>
            </div>
        </div>
    </div>
</div>       