<div class="banner">
    <div class="container" ng-disabled="bg_disable">
            <div class="jumbotron">
                <h1 class="display-4">ViZack</h1>
                <p class="lead">This is web application created in angularjs,nodejs,expressjs,and mongoDB</p>
                <hr class="my-4">
                <p>Use heroku app for deploy backend</p>
                <p>You have to use the following Admin Login Id</p>
                <p>Admin Id: 7004324389, Password: manish@12345</p>
              
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                </p>
            </div>
    </div>
</div>