<div class="card mb-3" ng-disabled="bg_disable">
    <div id="cover" ng-show="bg_disable"></div>    
    <div class="loader" ng-if="loaded==false"></div>
    <div class="card-header">
        <i class="fas fa-table"></i>
        Data Table Example</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>problem</th>
                        <th>Test</th>
                        <th>Documents</th>
                    </tr>
                </thead>
                <!-- <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>problem</th>
                        <th>Medicine</th>
                        <th>Test</th>
                    </tr>
                </tfoot> -->
                <tbody>
                    <tr ng-repeat="data in totalPatient track by $index">
                        <td>{{data['patient']['first_name']}} {{data['patient']['last_name']}}</td>
                        <td>{{(data['treat']['createdAt'] | date) || "01/01/2018"}}</td>
                        <td>{{data['treat']['status'] || "completed"}}</td>
                        <td>{{data['treat']['disease']}}</td>
                        <!-- <td>{{data['treat']['medicine']}}</td> -->
                        <td>{{data['treat']['test']}}</td></td>
                        <td> <a href="https://drive.google.com/file/d/115eNQGsUXf6JAaGk93Jany0_Fv-V9_I4/view" target="_blank">Report link</a> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>