<div class="row" style="margin-top:5%">
    <div class="col-md-8">
            <canvas id="bar" class="chart chart-bar"
            chart-data="data" chart-labels="labels"> chart-series="series"
          </canvas>

          <p style="color:red">plot of RDW and percentage of sample</p>
    </div>

    <div class="col-md-8" style="margin-top:5%">
            <canvas id="bar" class="chart chart-bar"
            chart-data="data1" chart-labels="labels1"> chart-series="series1"
          </canvas>

          <p style="color:blue">plot of percentage floride in man vd ppm</p>
    </div>

    <div class="col-md-8">
            <canvas id="bar" class="chart chart-bar"
            chart-data="data" chart-labels="labels"> chart-series="series"
          </canvas>

          <p>plot of RDW and percentage of sample</p>
    </div>
</div>
