<div class="bg" ng-disabled="bg_disable">
    <h1>Patient Login form </h1>
    <div id="cover" ng-show="bg_disable"></div>
    <div class="loader" ng-if="loaded==false"></div>
    <div class="register-form-w3layouts">
        <!-- Form starts here -->
        <form>
            <h3 class="sub-heading-agileits">Patient Login</h3>
            <div class="field-agileinfo-spc form-w3-agile-text">
                <div class="field-agileinfo-spc form-w3-agile-text1">
                    <input type="email" name="email" placeholder="Email" ng-required="true" ng-model="vm.form['email']">
                </div>
            </div>
            <div class="field-agileinfo-spc form-w3-agile-text">
                <div class="field-agileinfo-spc form-w3-agile-text1">
                    <input type="password" name="pass" placeholder="Password" ng-required="true" ng-model="vm.form['password']">
                </div>
            </div>
            <div class="clear"></div>
            <input type="button" ng-click="loginForm(vm.form)" value="Submit">
            <input type="reset" value="Clear Form">
            <p style="color:aliceblue;margin-top:2%">Don't Have a account? <a href="#!/doctor_signup">SignUp here</a>
            </p>
            <div class="clear"></div>
        </form>
        <!--// Form starts here -->
    </div>
    <!--copyright-->
    <div class="copyright">
        <p>&copy; 2018 . All Rights Reserved | Design by
            <a href="/" target="_blank">Lyfline</a>
        </p>
    </div>
</div>