<div class="bg">
    <h1>Doctor Registration Form </h1>
    <div class="register-form-w3layouts">
        <!-- Form starts here -->

        <form>
            <h3 class="sub-heading-agileits">Doctor Login</h3>
            <div class="field-agileinfo-spc form-w3-agile-text">
                <div class="field-agileinfo-spc form-w3-agile-text1">
                    <input type="text" name="Name" placeholder="First Name" required="">
                </div>
            </div>
            <div class="field-agileinfo-spc form-w3-agile-text">
                <div class="field-agileinfo-spc form-w3-agile-text1">
                    <input type="email" name="Email" placeholder="Email" required="">
                </div>
            </div>
            <div class="clear"></div>
            <input type="submit" value="Submit">
            <input type="reset" value="Clear Form">
            <p style="color:aliceblue;margin-top:2%">Don't Have a account? <a href="#!/doctor_signup">SignUp here</a> </p>
            <div class="clear"></div>
        </form>
        <!--// Form starts here -->
    </div>
    <!--copyright-->
    <div class="copyright">
        <p>&copy; 2018 . All Rights Reserved | Design by
            <a href="/" target="_blank">Lyfline</a>
        </p>
    </div>
</div>