<div class="bg">
    <h1>Clinic Registration Form </h1>
    <div class="register-form-w3layouts">
        <!-- Form starts here -->
        <form>
            <h3 class="sub-heading-agileits">Clinic Owner Details</h3>
            <div class="main-flex-w3ls-sectns">
                <div class="field-agileinfo-spc form-w3-agile-text1">
                    <input type="text" name="Name" placeholder="First Name" required="">
                </div>
                <div class="field-agileinfo-spc form-w3-agile-text2">
                    <input type="text" name="Name" placeholder="Last Name" required="">
                </div>
            </div>
            <div class="main-flex-w3ls-sectns">
                <div class="field-agileinfo-spc form-w3-agile-text1">
                    <input type="email" name="Email" placeholder="Email" required="">
                </div>
                <div class="field-agileinfo-spc form-w3-agile-text2">
                    <input type="text" name="Phone no" placeholder="Phone Number" required="">
                </div>
            </div>
            <div class="main-flex-w3ls-sectns">
                <div class="field-agileinfo-spc form-w3-agile-text2">
                    <select class="form-control">
                        <option>Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
            </div>
            <div class="clear"></div>
            <h2 class="sub-heading-agileits">Clinic Details</h2>
            <div class="main-flex-w3ls-sectns">
                <div class="field-agileinfo-spc form-w3-agile-text1">
                    <input type="text" name="Clinic Name" placeholder="Hospital Name" required="">
                </div>
                <div class="field-agileinfo-spc form-w3-agile-text2">
                    <select class="form-control">
                        <option>Clinic type</option>
                        <option value="Gov">Government</option>
                        <option value="private">Private</option>
                        <option value="others">Others</option>
                    </select>
                </div>
            </div>
            <div class="main-flex-w3ls-sectns">
                <div class="field-agileinfo-spc form-w3-agile-text1">
                    <input type="text" name="Distric" placeholder="Distric" required="">
                </div>
                <div class="field-agileinfo-spc form-w3-agile-text1">
                    <select class="form-control">
                        <option>State</option>
                        <option value="Single">Bihar</option>
                        <option value="Married">New Delhi</option>
                        <option value="Divorced">Assam</option>
                    </select>
                </div>
            </div>
            <div class="main-flex-w3ls-sectns">
                <div class="field-agileinfo-spc form-w3-agile-text1">
                    <input type="text" name="city" placeholder="city" required="">
                </div>
                <div class="field-agileinfo-spc form-w3-agile-text1">
                    <input type="text" name="pincode" placeholder="pincode" required="">
                </div>
            </div>
            <div class="field-agileinfo-spc form-w3-agile-text">
                <textarea name="Message" placeholder="Address..."></textarea>
            </div>
            <div class="field-agileinfo-spc form-w3-agile-text">
                    <textarea name="Message" placeholder="Testes will be done here please list it"></textarea>
            </div>

            <input type="submit" value="Submit">
            <input type="reset" value="Clear Form">

            <div class="clear"></div>
            <p style="color:aliceblue;margin-top:2%"> Have a account? <a href="#!/clinic_login">Login here</a> </p>
        </form>
        <!--// Form starts here -->
    </div>
    <!--copyright-->
    <div class="copyright">
        <p>&copy; 2018 . All Rights Reserved | Design by
            <a href="/" target="_blank">Lyfline</a>
        </p>
    </div>
</div>